.keycaps__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 43vw;
  height: 60px;
  border: solid 1px black;
  @media screen and (min-width: 768px) {
    height: 80px;
    width: 80vw;
    max-width: 619px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.keycaps__container_desktop {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    left: 0;
  }
}
