.games_collection__root {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.games_collection__cards_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  max-width: 728px;
  margin: 0 auto;
  width: 100%;
  justify-items: center;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
