.layout__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 54px;
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}
.layout__title_logo_wrapper {
  display: flex;
  gap: 8px;
  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: center;
  }
}
